<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <script
    src="https://kit.fontawesome.com/7aad70cccd732.js"
    crossorigin="anonymous"
  ></script>
  <title>Productos</title>
</head>
<!------ INICIO BARRA DE NAVEGACIÓN-->
<nav>
  <div class="container">
    <h1>Music Pro</h1>
    <div class="menu">
      <a href="index.html" class="navigation">Inicio</a>
      <a href="productos.html" class="navigation">Productos</a>
      <a href="login.html" class="navigation">Cuenta</a>
    </div>
    <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>
  <body>

   <!---   CARDS ELEAZAR-->

    <div id="mega" class="mega">
      <div id="mega1" class="mega1">
        <div id="catalogos" class="producto">
          <h2>Bajo Fender</h2>
          <img src="image/bajo4.png" alt="bajo">
          <div class="informacion">
              <span class="descripcion">Bajo Fender Mustang, Diapasón de Arce y color Sienna</span>
              <span class="stock2">Stock Disponible: 6</span>
              <div class="final">
                  <span class="precio">$ 749.990</span>
              </div>
              <button class="button-add2">Agregar</button>
              
          </div>
      
      </div>
      <div id="catalogos" class="producto">
        <h2>Guitarra Negra Fender</h2>
        <img src="image/guitarblack1.png" alt="bajo">
        <div class="informacion">
            <span class="descripcion">Bajo Fender Elite, color negro asabache</span>
            <span class="stock2">Stock Disponible: 9</span>
            <div class="final">
                <span class="precio">$ 349.990</span>
            </div>
            <button class="button-add2">Agregar</button>
            
        </div>
    
    </div>
    <div id="catalogos" class="producto">
      <h2>Gitarra Azul</h2>
      <img src="image/guitarblue1.png" alt="bajo">
      <div class="informacion">
          <span class="descripcion">Guitarra Española, color azulado</span>
          <span class="stock2">Stock Disponible: 10</span>
          <div class="final">
              <span class="precio">$ 299.990</span>
          </div>
          <button class="button-add2">Agregar</button>
          
      </div>
  
  </div>
    </div>
    </div>
  </body>
</head>
